.set-nav {
	background: #FFF;
	position: relative;
}

.set-nav .tap {
	height: 1rem;
	line-height: 1rem;
	padding: 0 .6rem 0 .24rem;
	display: flex;
}

.set-nav .tap:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: .24rem;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #e5e8ea
}

.set-nav .item:last-child .tap:after {
	display: none;
}

.set-nav .name {
	font-size: .3rem;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.set-nav .dsp {
	color: #92999d;
	width: 100%;
	text-align: right;
	font-size: .26rem;
}

.set-nav .icon-a12r {
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	right: .18rem;
	top: 50%;
	margin-top: -8px;
	font-size: 16px;
	font-weight: bold;
	color: #ccc;
}

.set-nav .avatar {
	height: 1.6rem;
	padding: .24rem 0.3rem;
}

.set-nav .avatar img {
	width: .96rem;
	height: .96rem;
	position: absolute;
	top: 50%;
	margin-top: -.48rem;
	right: .8rem;
	border-radius: .96rem;
}